<div>
    <div style="width:49%; float:right;">
        <img src="data:image/gif;base64,{{HeaderLogo}}" style="margin-left:0.6cm; min-height:94.5px;max-height:94.5px;min-width:300px;max-width:300px;"/>
    </div>
    <div style="width:49%">
        <p style="white-space:pre-wrap;font: 12px tahoma;">{{PrinterHeader}}</p>
    </div>
</div>