<div style="margin-bottom:10px;">
    {{#if HeaderLogo}}
    <div style="width:49%; float:right;">
        <img src="data:image/gif;base64,{{HeaderLogo}}" style="margin-left:0.6cm; min-height:84.5px;max-height:84.5px;min-width:300px;max-width:300px;"/>
    </div>
    {{/if}}
    <div style="width:49%; margin-left:40px;">
        <p style="margin-top:100px;white-space:pre-wrap;font: 14px tahoma;">{{PrinterHeader}}</p>
    </div>
</div>
  {{#if HeaderLogo}}
<div style="padding-top:1px; clear:both;border-bottom: 1px solid  #{{ColorLines}}"></div>
{{/if}}