<div style="padding-top:20px">
    
        <div style="border-top: 2px solid #{{ColorLines}}">
            {{#if FooterLogo}}
            <div style="width:29%; float:right;">
                <img src="data:image/gif;base64,{{FooterLogo}}" style="margin-left:1cm;margin-top:5px;min-height:43px;max-height:43px;min-width:150px;max-width:150px;" />
            </div>
            {{/if}}
            <div {{#if FooterLogo}}style="width:69%;{{/if}}">
                <p style="white-space:pre-wrap;text-align:center;font-style:oblique !important; font: 10px tahoma;">{{PrinterFooter}}</p>
            </div>
        </div>
    </div>