<div style="padding-top:20px">
     <div class="firma" width="100%" style="text-align: center;padding-top:5px">
            <strong>ATENTAMENTE</strong>
        </div>
     <div width="100%" style="text-align: center;padding-top:1px">
             <h4><strong><pre style="border: none;">{{DoctorCedula}}</pre></strong> </h4>
        </div>
    </div>